<div class="p-2 mt-3">
  <ngb-accordion #acc="ngbAccordion" activeIds="AccountDetails">
    <ngb-panel id="AccountDetails">
      <ng-template ngbPanelHeader >
        <div class="d-flex align-items-center justify-content-between ">
          <h5 class="text-header">Account Details</h5>
        </div>
      </ng-template>

      <ng-template ngbPanelContent>
        <form class="row">

          <div class="col-6">
            <app-custom-input [type]="'text'" [label]="'First Name'" [name]="'fname'" [(ngModel)]="user.firstName"></app-custom-input>
            </div>
          <div class="col-6">
            <app-custom-input [type]="'text'" [label]="'Last Name'" [name]="'lname'" [(ngModel)]="user.lastName"></app-custom-input>
            </div>
          <div class="col-6">
            <app-custom-input [type]="'email'" [label]="'Email'" [name]="'email'" [(ngModel)]="user.userEmail"></app-custom-input>
           </div>
          <div class="col-6">
            <app-custom-dropdown [options]="roles" [label]="'Type'" [name]="'type'" [(ngModel)]="user.code"></app-custom-dropdown>
            </div>
          <div class="w-100 text-center mt-4">
            <button class="btn custom-button" (click)=createAccount()>Create Account</button>
          </div>

        </form>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>