<div class="p-2 mt-3">
  <ngb-accordion #acc="ngbAccordion" activeIds="AccountDetails">
    <ngb-panel id="AccountDetails">
      <ng-template ngbPanelHeader >
        <div class="d-flex align-items-center justify-content-between ">
          <h5 class="text-header">Account Details</h5>
        </div>
      </ng-template>

      <ng-template ngbPanelContent>
        <form  #user="ngForm" class="row">

          <div class="col-6">
            <app-custom-input [type]="'text'" [label]="'First Name'" [name]="'fname'" [placeholder]="'Enter First Name'" [required]="true" [(ngModel)]="user.firstName"></app-custom-input>
            </div>
          <div class="col-6">
            <app-custom-input [type]="'text'" [label]="'Last Name'"  [placeholder]="'Enter Last Name'" [name]="'lname'"  [required]="true" [(ngModel)]="user.lastName"></app-custom-input>
            </div>
          <div class="col-6">
            <app-custom-input [required]="true" [placeholder]="'abc@capgemini.com'" [pattern]="'^[_a-z0-9-\\+]+(\\.[_a-z0-9-]+)*@capgemini.com$'" [label]="'Email'" [name]="'email'"  [required]="true" [(ngModel)]="user.userEmail"></app-custom-input>
           </div>
          <div class="col-6">
            <app-custom-dropdown [options]="roles" [label]="'Type'" [name]="'type'"  [required]="true" [(ngModel)]="user.code"></app-custom-dropdown>
            </div>
          <div class="w-100 text-center mt-4">
            <button class="btn custom-button" [disabled]="user.invalid" (click)=createAccount()>Create Account</button>
          </div>

        </form>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>