<div>
  <h1 class="text-secondary m-2">Enter your details</h1>
  <form class="m-2">
    <div class="row">
      <div class="col-6">
        <div class="form-group row">
          <label for="firstNameId" class="control-label col-6">Capgemini Id:</label>
          <div class="col-6">
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-6">
        <button class="btn custom-button">Fetch</button>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group row">
          <label for="capgeminiId" class="control-label col-6">Name:</label>
          <div class="col-6">
            <input type="number" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-6">
        <!-- <div class="form-group row">
          <label for="currentDateId" class="control-label col-6">Date:</label>
          <div class="input-group col-6">
            <input #currentDate="ngbDatepicker" ngbDatepicker placeholder="YYYY-MM-DD" class="form-control"
               id="currentDateId" />
            <div class="input-group-append">
              <button (click)="currentDate.toggle()" class="btn btn-outline-secondary fa fa-calendar"
                type="button"></button>
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group row">
          <label for="capgeminiEmailId" class="control-label col-6">Capgemini Email:</label>
          <div class="col-6">
            <input type="email" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group row">
          <label for="businessUnitId" class="control-label col-6">Business Unit (BU):</label>
          <div class="input-group col-6">
            <select class="form-control" id="businessUnitId">
              <option *ngFor="let businessUnit of addUserDomainsModel.businessUnits" [value]="businessUnit.code">
                {{businessUnit.description}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group row">
          <label for="capgeminiEmailId" class="control-label col-6">Are you in Shadow?:</label>
          <div class="col-6">
            <div class="form-check form-check-inline p-2 m-0">
              <div class="custom-control custom-radio col-6">
                <input class="custom-control-input" required type="radio" id="yes" [value]="true" name="coHeading" />
                <label class="custom-control-label small" for="yes">Yes</label>
              </div>
              <div class="custom-control custom-radio col-6">
                <input class="custom-control-input" required type="radio" id="no" [value]="false" name="coHeading" />
                <label class="custom-control-label small" for="no">No</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group row">
          <label for="projectNameId" class="control-label col-6">Shadow Project Name:</label>
          <div class="col-6">
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group row">
          <label for="projectMentorId" class="control-label col-6">Shadow Project Mentor:</label>
          <div class="col-6">
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="w-100 my-2">
        <h2 class="text-secondary my-auto d-inline">Task Description</h2>
        <span class="pull-right">
          <button class="btn custom-button my-auto" (click)='addRow()'>Add More Task</button>
          <button class="btn custom-button my-auto" (click)='deleteRow()'>Remove Task</button>
        </span>
      </div>
    </div>
    <div class="d-flex justify-content-between m-1">
      <a (click)="prev()" routerLinkActive="icon-border" class="header-font-size btn-link btn border icon-border">
        <i class="fa fa-chevron-left"></i>
      </a>
      <a (click)="next()" routerLinkActive="icon-border" class="header-font-size btn-link btn border icon-border">
        <i class="fa fa-chevron-right"></i>
      </a>
    </div>
    <div class="row">
      <table class="w-100 table border">
        <thead class="thead-light">
          <tr>
            <th *ngFor="let currWeek of currWeekInfo">
              <p>{{currWeek.day}}</p>
              <p>{{currWeek.date}}</p>
            </th>
            <!-- <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of fresherDetails.get('taskDesc').controls" [formGroup]='task'>
            <td><select class="form-control" formControlName="monday">
                <option *ngFor="let taskDescription of addUserDomainsModel.taskDescriptions"
                  [value]="taskDescription.code">
                  {{taskDescription.description}}
                </option>
              </select>
            </td>
            <td><select class="form-control" formControlName="tuesday">
                <option *ngFor="let taskDescription of addUserDomainsModel.taskDescriptions"
                  [value]="taskDescription.code">
                  {{taskDescription.description}}
                </option>
              </select>
            </td>
            <td><select class="form-control" formControlName="wednesday">
                <option *ngFor="let taskDescription of addUserDomainsModel.taskDescriptions"
                  [value]="taskDescription.code">
                  {{taskDescription.description}}
                </option>
              </select>
            </td>
            <td><select class="form-control" formControlName="thursday">
                <option *ngFor="let taskDescription of addUserDomainsModel.taskDescriptions"
                  [value]="taskDescription.code">
                  {{taskDescription.description}}
                </option>
              </select>
            </td>
            <td><select class="form-control" formControlName="friday">
                <option *ngFor="let taskDescription of addUserDomainsModel.taskDescriptions"
                  [value]="taskDescription.code">
                  {{taskDescription.description}}
                </option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="float-right">
      <button type="button" class="btn custom-button">Reset</button>
      <button type="submit" class="btn custom-button">Submit</button>
    </div>
  </form>
</div>