<div>
  <h1 class="text-secondary m-2">Shadow Details</h1>
  <form class="m-2">
    <div class="row">
      <div class="col-6">
        <div class="form-group row">
          <label for="firstNameId" class="control-label col-6">First Name:</label>
          <div class="col-6">
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-6">
        <button class="btn btn-success rounded-5">Fetch</button>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group row">
          <label for="capgeminiId" class="control-label col-6">Capgemini Id:</label>
          <div class="col-6">
            <input type="number" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group row">
          <label for="currentDateId" class="control-label col-6">Date:</label>
          <div class="input-group col-6">
            <input #currentDate="ngbDatepicker" ngbDatepicker placeholder="YYYY-MM-DD" class="form-control"
               id="currentDateId" />
            <div class="input-group-append">
              <button (click)="currentDate.toggle()" class="btn btn-outline-secondary fa fa-calendar"
                type="button"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group row">
          <label for="capgeminiEmailId" class="control-label col-6">Capgemini Email:</label>
          <div class="col-6">
            <input type="email" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group row">
          <label for="businessUnitId" class="control-label col-6">Business Unit (BU):</label>
          <div class="input-group col-6">
            <select class="form-control" id="businessUnitId">
              <option *ngFor="let businessUnit of addUserDomainsModel.businessUnits" [value]="businessUnit.code">
                {{businessUnit.description}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group row">
          <label for="capgeminiEmailId" class="control-label col-6">Are you in Shadow?:</label>
          <div class="col-6">
            <div class="form-check form-check-inline p-2 m-0">
              <div class="custom-control custom-radio col-6">
                <input class="custom-control-input" required type="radio" id="yes" [value]="true" name="coHeading" />
                <label class="custom-control-label small" for="yes">Yes</label>
              </div>
              <div class="custom-control custom-radio col-6">
                <input class="custom-control-input" required type="radio" id="no" [value]="false" name="coHeading" />
                <label class="custom-control-label small" for="no">No</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-6">
        <div class="form-group row">
          <label for="taskDescriptionId" class="control-label col-6">Task Description:</label>
          <div class="input-group col-6">
            <select class="form-control" id="taskDescriptionId">
              <option *ngFor="let taskDescription of addUserDomainsModel.taskDescriptions"
                [value]="taskDescription.code">
                {{taskDescription.description}}
              </option>
            </select>
          </div>
        </div>
      </div> -->
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group row">
          <label for="projectNameId" class="control-label col-6">Shadow Project Name:</label>
          <div class="col-6">
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group row">
          <label for="projectMentorId" class="control-label col-6">Shadow Project Mentor:</label>
          <div class="col-6">
            <input type="text" class="form-control">
          </div>
        </div>
      </div>

      <!-- <div class="col-6">
        <div class="form-group row">
          <div class="offset-6 col-6">
            <textarea class="form-control"></textarea>
          </div>
        </div>
      </div> -->
    </div>
    <div class="w-100">
      <div class="w-100 mb-4">
        <h2 class="text-secondary m-2 d-inline">Task Description</h2>
        <span class="pull-right">
          <button class="btn btn-success" (click)='addRow()'>Add More Task</button>
          <button class="btn btn-danger ml-3" (click)='deleteRow()'>Remove Task</button>
        </span>
      </div>
      <table class="w-100 table border">
        <thead class="thead-light">
          <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of fresherDetails.get('taskDesc').controls" [formGroup]='task'>
            <td><select class="form-control" formControlName="monday">
                <option *ngFor="let taskDescription of addUserDomainsModel.taskDescriptions"
                  [value]="taskDescription.code">
                  {{taskDescription.description}}
                </option>
              </select>
            </td>
            <td><select class="form-control" formControlName="tuesday">
                <option *ngFor="let taskDescription of addUserDomainsModel.taskDescriptions"
                  [value]="taskDescription.code">
                  {{taskDescription.description}}
                </option>
              </select>
            </td>
            <td><select class="form-control" formControlName="wednesday">
                <option *ngFor="let taskDescription of addUserDomainsModel.taskDescriptions"
                  [value]="taskDescription.code">
                  {{taskDescription.description}}
                </option>
              </select>
            </td>
            <td><select class="form-control" formControlName="thursday">
                <option *ngFor="let taskDescription of addUserDomainsModel.taskDescriptions"
                  [value]="taskDescription.code">
                  {{taskDescription.description}}
                </option>
              </select>
            </td>
            <td><select class="form-control" formControlName="friday">
                <option *ngFor="let taskDescription of addUserDomainsModel.taskDescriptions"
                  [value]="taskDescription.code">
                  {{taskDescription.description}}
                </option>
              </select>
            </td>
            <td><select class="form-control" formControlName="saturday">
                <option *ngFor="let taskDescription of addUserDomainsModel.taskDescriptions"
                  [value]="taskDescription.code">
                  {{taskDescription.description}}
                </option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-outline-secondary mr-2">Reset</button>
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>