<div class="field-wrap ">
    <label class="label-sec ml-1" [for]="name" *ngIf="label"
        [ngClass]="{'errorText':(modelRef.control?.errors && (modelRef.control.touched || modelRef.control.dirty))}">
        {{label |titlecase}}
        <span *ngIf='required'> *</span>
    </label>
    <select class="form-control box-Shadow rounded-0" [name]='name' [required]="required" [id]="name" [(ngModel)]=value
        (ngModelChange)="valueChange($event)" [disabled]='disabled' #modelRef="ngModel"
        [ngClass]="{'errorStyle':(modelRef.control?.errors && (modelRef.control.touched || modelRef.control.dirty))}">
        <option value="null" selected>{{placeholder}}</option>
        <option *ngFor="let choice of options" [value]="choice.code">{{choice.description}}</option>
    </select>
    <div *ngIf="modelRef.control.errors && (modelRef.control.touched || modelRef.control.dirty)">
        <small class="errorText">{{errorMessage}}</small>
    </div>
</div>