<div class="field-wrap ">
    <label class="label-sec ml-1" for="text-input" *ngIf="label"
        [ngClass]="{'errorText':(modelRef.control?.errors && (modelRef.control.touched || modelRef.control.dirty))}">
        {{label |titlecase}}
        <span *ngIf='required'> *</span>
    </label>
    <div class="input-group "
        [ngClass]="{'errorStyle':(modelRef.control?.errors && (modelRef.control.touched || modelRef.control.dirty))}">
        <input (click)="currentDate.toggle()" class="form-control  custom-control box-Shadow rounded-0" [required]="required" 
        autocomplete="off" [placeholder]="placeholder" id="text-input" [(ngModel)]=value (ngModelChange)="valueChange($event)"
            [disabled]='disabled' datepicker-append-to-body="true" #modelRef="ngModel" [pattern]='pattern'
            #currentDate="ngbDatepicker" ngbDatepicker [ngClass]="{'error-border':(modelRef.control?.errors && (modelRef.control.touched || modelRef.control.dirty))}">
        <!-- <div class="input-group-append ">
            <button (click)="currentDate.toggle()" class="btn btn-outline-secondary  fa fa-calendar "
                type="button"></button>
        </div> -->
        <div *ngIf="modelRef.control.errors && (modelRef.control.touched || modelRef.control.dirty)">
            <small class="errorText">{{errorMessage}}</small>
        </div>
    </div>
</div>