<div >
<div class="d-flex flex-row">
  <div class="d-flex flex-column w-25 h-100 text-center">
    <div [routerLink]="['/admin/analysis']" class=" mt-2 w-50 border mx-auto pt-4 pb-4 btn btn-default" routerLinkActive="btn-success">
        <i class="fa fa-bar-chart fa-3x" aria-hidden="true"></i>
        <p class="font-weight-bold">Analysis</p>
    </div>
    <div class="mt-2">
      <div [routerLink]="['create-user']" class="border mt-2 w-50 mx-auto pt-4 pb-4 btn btn-default" routerLinkActive="btn-success">
          <i class="fa fa-user fa-3x" aria-hidden="true"></i>
          <p class="font-weight-bold">Add User</p>
      </div>
    </div>
  </div>
  <div class="w-75 h-100 border">
    <router-outlet></router-outlet>
  </div>
</div>
</div>