  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Login</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body border-bottom">
    <div class="form-group">
      <input type="text" placeholder="Enter Username" class="form-control">
    </div>
    <div class="form-group mb-0">
      <input type="password" placeholder="Enter password" class="form-control">
    </div>
  </div>
  <div class="text-center rounded-bottom">
    <button type="button" class="btn custom-button my-1 ml-0" (click)="login('login')">Login</button>
  </div>