<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Login</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <input type="text" placeholder="Enter Username" class="form-control">
  </div>
  <div class="form-group">
    <input type="password" placeholder="Enter password" class="form-control">
  </div>
</div>
<div class="text-center border border-top pb-2 rounded-bottom">
    <button type="button" ngbAutofocus class="btn custom-button" (click)="login()">Login</button>
</div>