/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

.custom-link{
    color: #0070AD !important;

    &:hover{
        color: #000000 !important;
    }
}

.header-font-size {
    font-size: 1rem/1.56 ;
}

body{
    font-family: "ubuntu",Verdana,Arial,sans-serif;
    min-height: 100vh; 
}
// extra large
@media screen and (max-width: 1200px)  {
    .container {
      max-width: 1140px;
    }
  }
// large
@media screen and (max-width: 992px)  {
    .container {
      max-width: 960px;
    }
  }
// medium
@media screen and (max-width: 768px)  {
    .container {
      max-width: 720px;
    }
  }
// small
@media screen and (max-width: 576px)  {
    .container {
      max-width: 540px;
    }
  }

// Accordion
ngb-accordion{
    .card-header{
      background: transparent !important;
    }
    .card-body{
        background: #f3f3f3 !important;
    }
    .text-header{
        color:#0070ad
      }
}

// Login Modal
.login-model .modal-dialog{
  max-width: 400px;
}


// btn css
.custom-button{
        margin-bottom: 24px;
        margin-left: 30px;
        display: inline-block;
        font: 1rem/1 "ubuntu-md",Verdana,Arial,sans-serif;
        min-width: 195px;
        border-radius: 100px;
        text-align: center;
        white-space: nowrap;
        transition: all .5s ease;
        padding: 0 20px;
        color: #0070ad;
        border: 2px solid #0070ad;
        line-height: 40px;
        // line-height: 48px;
        background: 0 0;
};

.custom-button:hover, .custom-button:focus {
    background: #0070ad;
    color: #fff;
    border-color: #0070ad;
}

.custom-button:disabled{
  background-color: #ECECEC ;
  color: #666666;
  border-color: #ECECEC;
}
// round arrows
.icon-border{
  border-width: 2px !important;
  border-radius: 50%;
  transition: all .5s ease;
  border-color: #0070ad !important;
}
.icon-border:hover, .icon-border:focus {
  background: #0070ad;
  color: #fff !important;
}