<form #changePasswordForm="ngForm" (ngSubmit)="changePassword('change password')">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Change Password</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body border-bottom">
    <app-custom-input [required]="true" [errorMessage]="'Please enter your current password'" [type]="'password'"
      [name]="'currPass'" [(ngModel)]="changePasswordModel.currentPassword" [placeholder]="'Enter Current password'"
      [label]="'Current Password'">
    </app-custom-input>
    <app-custom-input [required]="true" [errorMessage]="'Please enter your new password'" [type]="'password'"
      [name]="'newPass'" [(ngModel)]="changePasswordModel.newPassword" [placeholder]="'Enter new password'"
      [label]="'New Password'">
    </app-custom-input>
    <app-custom-input [required]="true" [errorMessage]="'Please confirm your new password.'" [type]="'password'"
      [name]="'confPass'" [(ngModel)]="confirmPassword" [placeholder]="'Re-Enter new password'"
      [label]="'Confirm Password'">
    </app-custom-input>
  </div>
  <div class="text-center rounded-bottom">
    <button [disabled]="changePasswordForm.invalid || (changePasswordModel.newPassword!=confirmPassword)" type="submit" class="btn custom-button my-1 ml-0">Change Password</button>
  </div>
</form>