<div class="custom-border">
  <div class="modal-header">
    <h4 class="modal-title text-uppercase" id="modal-title">Confirm</h4>
  </div>
  <div class="modal-body my-2">
    <div>
      <p class="text-center m-0">
        <b>Are you sure?</b>
      </p>
      <p class="text-center m-0">
        <b>you will be logged out!</b>
      </p>
    </div>
  </div>
  <!-- <div class="text-center rounded-bottom">
    <button type="button" [disabled]="loginForm.invalid" class="btn custom-button my-1 ml-0"
      (click)="login('login')">Login</button>
  </div> -->
  <div class="text-center border-top rounded-bottom">
    <button (click)="ngbActiveModal.close('no')" class="btn custom-button ml-1 my-1">No</button>
    <button (click)="ngbActiveModal.close('yes')" class="btn custom-button ml-1 my-1">Yes</button>
  </div>
</div>
