.result-table{
    overflow-x: auto;
}
.table-col-size-md{
    max-width: 280px;
}

.btn-link{
    text-decoration: none;
}

.accordian-button{
    color: #0070ad;
    border-radius: 50%;
    border: 1px solid #0070ad;
}
